! template: ldpd/ldpd.conf.j2
!
! TertoOS LDP configuration rendered from CONFIG_DB MPLS_LDP_*
! tables (S7 schema, S7.x backend).
!
{% include "ldpd.conf.db.global.j2" %}
{% include "ldpd.conf.db.af.j2" %}
