configure system description "TertoOS Software Version: TertoOS.{{ build_version }} - HwSku: {{ DEVICE_METADATA['localhost']['hwsku'] }} - Base: Debian {{ debian_version }} - Kernel: {{ kernel_version }}"
